.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.valid-summary-valid {
    display: none;
}

.bodyRegister {
    background-image: url("../Content/Images/wheel2.jpg");
    background-size: 560px;
    background-position-x: 400px;
    background-position-y: 570px;
    background-repeat: no-repeat;
    font-family: 'Comic Sans MS';
}

.bodyLogon {
    background-image: url("../Content/Images/sail2.jpg");
    background-size:1600px;
    background-position-x:0px;
    background-position-y:0px;
    background-repeat:no-repeat;
    font-family:'Comic Sans MS';
}

a{
    text-decoration: none;
}
